<?xml version="1.0"?>
<!--
/**
 * Copyright © Code Infinity (Pty) Ltd. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <picup>
                <model>Picup\Shipping\Model\Carrier\PicUp</model>
                <active>1</active>
                <name>PicUp Shipping</name>
                <title>PicUp Shipping Module</title>
                <testMode>1</testMode>
                <apiKey>business-8944f769-bdba-4496-85b3-085c0ce16959</apiKey>
                <apiKeyTest>business-8944f769-bdba-4496-85b3-085c0ce16959</apiKeyTest>
                <warehouseId>warehouse-bc447ce9-7ead-476a-892e-0bd56e238a0a</warehouseId>
                <warehouseName>Picup warehouse</warehouseName>
                <enableOnDemand>1</enableOnDemand>
                <sort_order>10</sort_order>
                <flatRate>9999</flatRate>
                <storeCountry>South Africa</storeCountry>
                <defaultPackageHeight>50</defaultPackageHeight>
                <defaultPackageWidth>50</defaultPackageWidth>
                <defauklPackageLength>50</defauklPackageLength>
            </picup>
        </carriers>
    </default>
</config>
